{
	"masters":[
		{
			"host":"",
			"user":"",
			"password":"",
			"database":"",
			"slaves":[
				{
					"host":"",
					"user":"",
					"password":"",
					"database":""
				},
				{
					"host":"",
					"user":"",
					"password":"",
					"database":""
				}
			]
		},
		{
			"host":"",
			"user":"",
			"password":"",
			"database":"",
			"slaves":[
				{
					"host":"",
					"user":"",
					"password":"",
					"database":""
				},
				{
					"host":"",
					"user":"",
					"password":"",
					"database":""
				}
			]
		}
	]
}